<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#7952b3">
    <title>OpenAI Demo</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/application.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" th:href="@{/images/favicon-64.png}" />
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top bg-body-secondary">
        <div class="container">
            <div class="row">
                <div class="d-flex flex-wrap col-auto">
                </div>
            </div>
        </div>
    </nav>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a th:href="@{/}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img th:src="@{/images/ai-demo.png}" width="120">
                <div class="fs-1 text-dark">OpenAI Demo</div>
            </a>
        </header>
        <main>
            <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="historyModalLabel">Chat History</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group" th:if="${session.chatHistory.chatHistory.size() > 0}">
                                <a href="#" class="list-group-item list-group-item-action"
                                    th:onclick="setPrompt([[${history}]])" th:text="${history}"
                                    th:each="history, status: ${session.chatHistory.chatHistory}"
                                    data-bs-dismiss="modal"></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="apiModal" tabindex="-1" aria-labelledby="apiModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <form name="apiForm" th:action="@{/setApi}" method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="apiModalLabel">OpenAI API</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="openAiApiUrl" class="form-label">OpenAI Base URL:</label>
                                    <input class="form-control me-3" name="openAiApiUrl" id="openAiApiUrl" type="text"
                                        th:value="${session.openAiApiUrl}" />
                                </div>
                                <div class="mb-3">
                                    <label for="openAiApiKey" class="form-label">OpenAI API Key:</label>
                                    <input class="form-control me-3" name="openAiApiKey" id="openAiApiKey" type="text"
                                        th:value="${session.openAiApiKey}" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="fs-4">How can I help you?</div>
                <div class="row pt-5">
                    <div class="col-md-12">
                        <form method="post" th:action="@{/chat}" th:object="${chat}" id="chatForm" name="chatForm">
                            <div class="row">
                                <div class="col-8">
                                    <textarea class="form-control" id="prompt" name="prompt" rows="8"
                                        placeholder="Ask me something..." required></textarea>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-primary btn-block"
                                                data-bs-toggle="tooltip" data-bs-title="Submit Chat"
                                                data-bs-placement="bottom">
                                                <i class="bi-arrow-up-circle"
                                                    style="font-size: 1.5rem; color: white;"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <span data-bs-toggle="modal" data-bs-target="#historyModal">
                                                <button type="button" class="btn btn-dark btn-block"
                                                    data-bs-toggle="tooltip" data-bs-title="View History"
                                                    data-bs-placement="bottom">
                                                    <i class="bi-clock-history"
                                                        style="font-size: 1.5rem; color: white;"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <span data-bs-toggle="modal" data-bs-target="#apiModal">
                                                <button type="button" class="btn btn-secondary btn-block"
                                                    data-bs-toggle="tooltip" data-bs-title="Update OpenAI API"
                                                    data-bs-placement="bottom">
                                                    <i class="bi-card-list"
                                                        style="font-size: 1.5rem; color: white;"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="my-3 pt-2" th:if="${content}" />
                <div class="row" th:if="${content}">
                    <div class="col">
                        <img th:src="@{/images/ai-demo.png}" width="40">&nbsp;<span th:text="${chatPrompt}"></span>
                        <div class="highlight" id="content">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="pt-2 my-4 text-muted border-top">
            <div class="my-3"><em>Brought to you by Solo.io &middot; &copy; 2025</em></div>
        </footer>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/validate-forms.js}"></script>
    <script th:src="@{/js/application.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        function setPrompt(prompt) {
            document.getElementById("prompt").value = prompt;
        }
    </script>
    <script th:inline="javascript">
        document.getElementById('content').innerHTML = marked.parse([[${ content }]]);
    </script>
</body>

</html>